<div class="text-center align-self-center">
  <%= button_to "フォローする", relationships_path(followed_id: user.id), remote: true,
                              class: "btn btn-primary rounded text-light col-8 text-center" %>
</div>
