<!-- Side navbar -->
<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
  <!-- Collapse navbar -->
    <div class="navbar-nav flex-column text-center">
      <%= button_to 'フォローする', '#', class: "btn bg-primary rounded text-light" %>
      <div class="mx-auto mt-3">
      <p>フォロワー 5人</p>
      </div>
    </div>
</nav>