<div class="card mb-3">
  <div class="card-header">
    <i class="bi bi-person"></i>
    カレンダー
  </div>
  <div class="card-body">
    <div id="calendar"></div>
  </div>
</div>

<%= render 'shared/user_event_tabs' %>